<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.w9jds.marketbot">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".classes.MarketBot"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketBot"
        android:fullBackupContent="false"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.MarketBot.Activities"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/nav_graph"/>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <service
            android:name=".data.service.MarketSync"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>